PORT=3001
MONGODB_URI=mongodb://localhost:27017/condominio
FRONTEND_URL=http://localhost:3000
ADMIN_USUARIO=tu_usuario_admin
ADMIN_PASSWORD=tu_contraseña_segura
JWT_SECRET=genera_una_cadena_aleatoria_segura_aqui
